@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  src: url(://fonts.gstatic.com/s/palanquin/v13/9XUnlJ90n1fBFg7ceXwcf1tN_LA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;

/*element styling*/

p {
  font-family: Fauna One;
  text-align: center;
}

ul {
  font-family: Fauna One;
  text-align: center;
  padding: 0.3em;
}

li {
  list-style: none;
  padding: 0.5em;
}

/* class styling */

.dropdown {
 width: 200px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form-group1 {
  display: grid;
  font-family: Palanquin;
  justify-content: left;
  margin-bottom: 15px;
  padding: 5px;
  text-align: center;
}

.subtitle {
  font-weight: bold;
}

.title {  
  font-family: Fauna One;
  text-align: center;
}
